
@media screen and (max-width:960px) {
  .service-box {max-width: 45%;}
    
}

@media screen and (max-width:768px) {
.service-box {max-width: 50%;}
    .projects-grid {width: 50%;}
.projects-section-header {max-width: 80%;}
    
}

@media screen and (max-width:480px) {
.service-box {max-width: 100%;}

.projects-section-header {max-width: 80%;}

}